
img{
    border-radius: 50%;
    position: relative;
    margin-top: 1px;
    text-align: center;
    /* font-size: 75%; */
    
}

.custom_h1{
    background: gray;
    font-size: 3rem;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border: 2px solid gray;
    border-radius: 150px;
    text-indent: 30px;
    font-weight: bold;
    font-size: 40px;
    text-align:initial;
    
}
p{
    margin-left: 30px;
    color:dodgerblue;
    font-size: 20px;
    display: flex;

}
.li_wrap{
    display: flex;
    font-size: 120%;
    width: 100%;
    margin-bottom:40px ;
   margin-left: -28px;
    letter-spacing: 1px;
    text-indent: 2rem; 
    /* text-align: justify; */
    vertical-align: top;
}
li{
    font-size: 120%;
}
.img_holder{
    width:40%;
    padding-top: 30%;
    
}

.bar{
    background:white;
    display: block;
    height: 20px;
    border: 2px solid rgba(0,0,0,0.5);
   
    overflow: hidden;
    box-shadow: 0 0 1px blue;
}
.bar span{
    height: 20px;
    float: left;
    background:cornflowerblue;

}
/* .giaotiep{
    width: 90%;
}
.thuongluong{
    width: 70%;
}
.thanhthao{
   width:70%;
}
.thuyetphuc{
    width: 90%;
}
.MS{
    width: 80%;
}
.viecnhom{
    width: 80%;
} */
div.des{
    font-size: 300%;
    margin-left: 15px;
}
div.img_holder{
    position: relative;
}
.custom_h2{
    font-size: 125%;
   font-style: italic;
color: blue;
    font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: -28%;
  
}
.right.h4{
font-weight: bold;
}
b{
font-weight: bold;
font-size: 25px;
margin-left: 25px;
}
span{
    font-size: 120%;
    border-width: 10px;

}
progress{
font-size: 120%;
margin-left: 30px;

}
label{
    font-size: 120%;
    margin-left: 30px;
}
.custom_h4{
    color: dodgerblue;
    font-size: 24px;
}
d{
    font-size: 120%;
}
e{
    color: grey;
    font-size: 24px;
}
@media (max-width: 1024px) {
    .custom_h1{
        
        font-size: 120%;
    }
        p{
           
            font-size: 120%;
           
        
        }
        .li_wrap{
           
            font-size:120%;
            width: 100%;
           
        }
        li{
            font-size: 120%;
        }
        
        
        .bar{
            background:white;
            display: block;
            height: 20px;
            border: 2px solid rgba(0,0,0,0.5);
           
            overflow: hidden;
            box-shadow: 0 0 1px blue;
        }
        .bar span{
            height: 20px;
            float: left;
            background:cornflowerblue;
        
        }
        
        div.des{
            font-size: 120%;
            
        }
       
        .custom_h2{
            font-size: 120%;

          
          
        }
        
        b{
        
        font-size: 120%;
     
        }
        span{
            font-size: 120%;
           
        
        }
        progress{
        font-size: 120%;
       
        
        }
        label{
            font-size:120%;
           
        }
        .custom_h4{
           
            font-size:120%;
        }

        
    }
    @media only screen and (max-width: 786px) {
        img{
            
            width: 80%;
             height: 70%; 
            border-radius: 65%;
            display: block;
            margin-left: auto;
            margin-right: auto;
           
           
          

        }
        .img_holder{
            width:50%;
            padding-top: -120%;
            margin-right: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
           
            
        }
        
        div.des{
            font-size: 150%;
          text-align: center;
          display: block;
          margin-left: auto;
          margin-right: auto;
            
            
        }
        .custom_h2{
            font-size: 95%;
            font-style: italic;
            color: blue;
            font-style: italic;
            font-family:'Quicksand', sans-serif;
             margin-left: auto;
           
            /* margin-right: 50%;  */
            text-align: center;

        }
        .left.custom_h2{
            text-align: center;
            margin-right: 70%;
        }
        .custom_h1{
            background: gray;
            border-top: 0.5% solid black;
            border-left: 0.5%  solid black;
            border-right:0.5%  solid black;
            border-bottom: 0.5%  solid black;
            border: 0.5% solid gray;
            text-indent: 10%px;
           
            font-size: 75%;
            text-align:initial;
            margin-left: -10%;
            
        }
        d{
            font-size: 70%;
        }
        .li_wrap{
           
            font-size:70%;
            width: 100%;
            margin-left: -18%;
           
        }
        li{
            font-size:70%;
        }
        .right.custom_h1{
            font-size: 70%;
        }
        .custom_h4{
           
            font-size:95%;
        }
        .right.custom_h4{
            font-size:95%;
        }
        e{
            color: grey;
            font-size: 75%;
        }
        b{
            font-size:95%;
            }
            progress{
                font-size: 75%;
                }
                label{
                    font-size:75%;  
                }
            
            span{
                font-size: 95%;
            }
        }
        
        @media only screen and  (min-width: 580px) and  (max-width: 786px){
            img{
                
                width: 80%;
                 height: 70%; 
                border-radius: 65%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-top: -70%;
                
               
               
              
    
            }
            .img_holder{
                width:50%;
                padding-top: -100%;
                margin-right: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
               
                
            }
            
            div.des{
                font-size: 150%;
              text-align: center;
              display: block;
              margin-left: auto;
              margin-right: auto;
                
                
            }
            .custom_h2{
                font-size: 80%;
                font-style: italic;
                color: blue;
                font-style: italic;
                font-family:'Quicksand', sans-serif;
                 margin-left: auto;
               
                /* margin-right: 50%;  */
                text-align: center;
    
            }
            .left.custom_h2{
                text-align: center;
                margin-right: 70%;
            }
            .custom_h1{
                background: gray;
                border-top: 0.5% solid black;
                border-left: 0.5%  solid black;
                border-right:0.5%  solid black;
                border-bottom: 0.5%  solid black;
                border: 0.5% solid gray;
                text-indent: 10%px;
               
                font-size: 75%;
                text-align:initial;
                margin-left: -10%;
                
            }
            d{
                font-size: 70%;
            }
            .li_wrap{
               
                font-size:70%;
                width: 100%;
                margin-left: -35%;
               
            }
            li{
                font-size:70%;
            }
            .right.custom_h1{
                font-size: 70%;
            }
            .custom_h4{
               
                font-size:95%;
            }
            .right.custom_h4{
                font-size:95%;
            }
            e{
                color: grey;
                font-size: 75%;
            }
            b{
                font-size:95%;
                }
                progress{
                    font-size: 75%;
                    }
                    label{
                        font-size:75%;  
                    }
                
                span{
                    font-size: 95%;
                }
            }

            @media only screen and (min-width:786) and (max-width: 1024px) {
                img{
                    
                    width: 60%;
                     height: 50%; 
                    border-radius: 45%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                   
                   
                  
        
                }
                .img_holder{
                    width:50%;
                    padding-top: -120%;
                    margin-right: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                   
                    
                }
                
                div.des{
                    font-size: 150%;
                  text-align: center;
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                    
                    
                }
                .custom_h2{
                    font-size: 95%;
                    font-style: italic;
                    color: blue;
                    font-style: italic;
                    font-family:'Quicksand', sans-serif;
                     margin-left: auto;
                   
                    /* margin-right: 50%;  */
                    text-align: center;
        
                }
                .left.custom_h2{
                    text-align: center;
                    margin-right: 70%;
                }
                .custom_h1{
                    background: gray;
                    border-top: 0.5% solid black;
                    border-left: 0.5%  solid black;
                    border-right:0.5%  solid black;
                    border-bottom: 0.5%  solid black;
                    border: 0.5% solid gray;
                    text-indent: 10%px;
                   
                    font-size: 75%;
                    text-align:initial;
                    margin-left: -10%;
                    
                }
                d{
                    font-size: 70%;
                }
                .li_wrap{
                   
                    font-size:70%;
                    width: 100%;
                    margin-left: -18%;
                   
                }
                li{
                    font-size:70%;
                }
                .right.custom_h1{
                    font-size: 70%;
                }
                .custom_h4{
                   
                    font-size:95%;
                }
                .right.custom_h4{
                    font-size:95%;
                }
                e{
                    color: grey;
                    font-size: 75%;
                }
                b{
                    font-size:95%;
                    }
                    progress{
                        font-size: 75%;
                        }
                        label{
                            font-size:75%;  
                        }
                    
                    span{
                        font-size: 95%;
                    }
                }
    
